* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-oscuro: #0033a0;
  --azul-medio: #0072ce;
  --amarillo: #ffd100;
  --blanco: #ffffff;
  --gris-claro: #f4f6f8;
}

body {
    background-color: var(--blanco);
    color: var(--azul-medio);
    padding: 2.5rem;
  border-radius: 10px;
  width: 100%;
  max-width: 900px; 
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  overflow: visible; 
}

.legend>h1 {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 800px;
}

.fieldset {
    text-align: center;
    width: 100%;
    border-radius: 20px;
    
}

.formularios {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 150%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 3rem;
}

label {
    display: block;
    text-align: center;
    color: var(--azul-medio);
    font-weight: 600;
    margin-bottom: 0.4rem;
    font-size: 1rem;
    line-height: 1.2;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.8rem;
  border: 2px solid var(--gris-claro);
  border-radius: 8px;
  background-color: var(--gris-claro);
  transition: all 0.3s ease;
  font-size: 1rem;
  outline: none;
}

input::placeholder{
    text-align: center;
}

.fecha_centrada {
    text-align: center;
}

.boton_registro {
  grid-column: 1 / -1;
  background-color: var(--azul-medio);
  color: var(--blanco);
  border: none;
  border-radius: 8px;
  padding: 0.9rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  margin: 2rem auto 0 auto;
  display: block;
  width: 250px;
  text-align: center;
  transition: all 0.3s ease;
}

.boton_registro:hover {
  background-color: var(--azul-oscuro);
  transform: scale(1.03);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

select{
    display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.8rem;
  border: 2px solid var(--gris-claro);
  border-radius: 8px;
  background-color: var(--gris-claro);
  transition: all 0.3s ease;
  font-size: 1rem;
}

.seleccion_centrada {
    text-align: center;
}